<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/amin.css">
</head>

<body>
    <div class="header">
        <div class="header_content">
            <p class="text-header">A<span>D</span>M<span>I</span>N</p>
            <ul>
                <li id="addnew">Add New</li>
                <li id="logout">Logout</li>
            </ul>
        </div>
    </div>
    <div class="content">
        <div id="users" class="users">
        </div>
        <div class="nav-page">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item" onclick="prePage()"><a class="page-link" href="#">Previous</a></li>
                    <li>
                        <ul id="page-number" class="pagination ">
                        </ul>
                    </li>
                    <li class="page-item" onclick="nextPage()"><a class="page-link" href="#">Next</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xóa tài khoản này</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">NO</button>
                <button type="button" class="btn btn-primary delete">OK</button>
            </div>
            </div>
        </div>
    </div>
</body>

<script>
    var curentPage = 1;
    const getPage = function (page) {
        curentPage = page
        $.ajax({
            url: '/user?page=' + curentPage,
            method: "GET"
        })
            .then((res) => {
                if (res.status === 200) {
                    $("#users").html("");
                    for (let i = 0; i < res.data.length; i++) {
                        let element = res.data[i]
                        template = `
                    <div class="user"> 
                        <h3>User ${[i]} </h3>
                        <p>
                            Username: <span>${element.username}</span>
                            <input class="edit-username d-none" value="${element.username}"></input>
                        </p>
                        <hr>
                        <p>
                            Password: <span>********</span>
                            <input class="edit-password d-none"></input>
                            <div class="btn-password d-none">
                                <i style="font-size: 15px; margin-right: 5px">Update password</i>
                                <button class="update-password" data-id=${element._id}>OK</button>
                                <button class="cancel-password">Cancel</button>
                            </div>
                        </p>
                        <hr>
                        <p>
                            Email: <span>${element.email}</span>
                            <input class="edit-email d-none" value="${element.email}"></input>
                        </p>
                        <hr>
                        <div class="select">
                            <button class="saveuser d-none button" data-id=${element._id}>Save</button>
                            <button class="canceluser d-none button">Cancel</button>
                            <button class="edituser button">Edit</button>
                            
                            <!-- Button trigger modal -->
                            <button type="button" class="button deleteuser" data-id=${element._id} data-toggle="modal" data-target="#exampleModal">
                            Delete 
                            </button>
                        </div>
                    </div>
                    `
                        $("#users").append(template);
                    }
                    $('.edituser').click(function () {
                        $(this).addClass('d-none')
                        $(this).parent().parent().find('.btn-password').removeClass('d-none')
                        $(this).parent().find('.deleteuser').addClass('d-none')
                        $(this).parent().find('.canceluser').removeClass('d-none')
                        $(this).parent().find('.saveuser').removeClass('d-none')
                        $(this).parent().parent().find('p').find('span').addClass('d-none')
                        $(this).parent().parent().find('p').find('input').removeClass('d-none')
                    })
                    $(".deleteuser").click(function () {
                        var id = $(this).attr('data-id')
                        $('.delete').click(function () {
                            $.ajax({
                                url: "/user/" + id,
                                method: "DELETE",
                                data: {
                                    id: id
                                }
                            })
                                .then((res) => {
                                    window.location.href = "/"
                                })
                                .catch((err) => {
                                    alert(err.message)
                                })
                        })
                    })
                    $(".update-password").click(function(){
                        console.log("vbn");
                        $.ajax({
                            url: '/user/password/' + $(this).attr('data-id'),
                            method: "PUT",
                            data: {
                                _id: $(this).attr('data-id'),
                                password: $(this).parent().parent().find('.edit-password').val()
                            }
                        })
                        .then((data) => {
                            alert("Cập nhật password thành công")
                        })
                        .catch((err) => {
                            alert(err.responseJSON.message)
                        })
                    })
                    $(".cancel-password").click(function(){
                        html = $(this).parent().parent().find('.edit-password').val("")

                    })
                    $('.saveuser').click(function () {
                        $.ajax({
                            url: '/user/' + $(this).attr('data-id'),
                            method: "PUT",
                            data: {
                                username: $(this).parent().parent().find('.edit-username').val(),
                                email: $(this).parent().parent().find('.edit-email').val()
                            }
                        })
                            .then((res) => {
                                if (res.status === 200) {
                                    alert(res.message)
                                    window.location.href = "/"
                                }
                            })
                            .catch((err) => {
                                console.log(err);
                                alert(err.responseJSON.message)
                            })
                    })
                    $('.canceluser').click(function () {
                        $(this).addClass('d-none')
                        $(this).parent().find('.deleteuser').removeClass('d-none')
                        $(this).parent().find('.edituser').removeClass('d-none')
                        $(this).parent().find('.saveuser').addClass('d-none')
                        $(this).parent().parent().find('p').find('span').removeClass('d-none')
                        $(this).parent().parent().find('p').find('input').addClass('d-none')
                        $(this).parent().parent().find('.btn-password').addClass('d-none')

                    })
                }
            })
            .catch((err) => {
                alert(err)
            });
    }
    getPage(1)
    const nextPage = function () {
        curentPage++;
        $.ajax({
            url: '/user?page=' + curentPage,
            method: "GET"
        })
        .then((res) => {
                if (res.status === 200) {
                    $("#users").html("");
                    for (let i = 0; i < res.data.length; i++) {
                        let element = res.data[i]
                        template = `
                    <div class="user"> 
                        <h3>User ${[i]} </h3>
                        <p>
                            Username: <span>${element.username}</span>
                            <input class="edit-username d-none" value="${element.username}"></input>
                        </p>
                        <hr>
                        <p>
                            Password: <span>********</span>
                            <input class="edit-password d-none"></input>
                            <div class="btn-password d-none">
                                <i style="font-size: 15px; margin-right: 5px">Update password</i>
                                <button class="update-password" data-id=${element._id}>OK</button>
                                <button class="cancel-password">Cancel</button>
                            </div>
                        </p>
                        <hr>
                        <p>
                            Email: <span>${element.email}</span>
                            <input class="edit-email d-none" value="${element.email}"></input>
                        </p>
                        <hr>
                        <div class="select">
                            <button class="saveuser d-none button" data-id=${element._id}>Save</button>
                            <button class="canceluser d-none button">Cancel</button>
                            <button class="edituser button">Edit</button>
                            
                            <!-- Button trigger modal -->
                            <button type="button" class="button deleteuser" data-id=${element._id} data-toggle="modal" data-target="#exampleModal">
                            Delete 
                            </button>
                        </div>
                    </div>
                    `
                        $("#users").append(template);
                    }
                    $('.edituser').click(function () {
                        $(this).addClass('d-none')
                        $(this).parent().parent().find('.btn-password').removeClass('d-none')
                        $(this).parent().find('.deleteuser').addClass('d-none')
                        $(this).parent().find('.canceluser').removeClass('d-none')
                        $(this).parent().find('.saveuser').removeClass('d-none')
                        $(this).parent().parent().find('p').find('span').addClass('d-none')
                        $(this).parent().parent().find('p').find('input').removeClass('d-none')
                    })
                    $(".deleteuser").click(function () {
                        var id = $(this).attr('data-id')
                        $('.delete').click(function () {
                            $.ajax({
                                url: "/user/" + id,
                                method: "DELETE",
                                data: {
                                    id: id
                                }
                            })
                                .then((res) => {
                                    window.location.href = "/"
                                })
                                .catch((err) => {
                                    alert(err.message)
                                })
                        })
                    })
                    $(".update-password").click(function(){
                        console.log("vbn");
                        $.ajax({
                            url: '/user/password/' + $(this).attr('data-id'),
                            method: "PUT",
                            data: {
                                _id: $(this).attr('data-id'),
                                password: $(this).parent().parent().find('.edit-password').val()
                            }
                        })
                        .then((data) => {
                            alert("Cập nhật password thành công")
                        })
                        .catch((err) => {
                            alert(err.responseJSON.message)
                        })
                    })
                    $(".cancel-password").click(function(){
                        html = $(this).parent().parent().find('.edit-password').val("")

                    })
                    $('.saveuser').click(function () {
                        $.ajax({
                            url: '/user/' + $(this).attr('data-id'),
                            method: "PUT",
                            data: {
                                username: $(this).parent().parent().find('.edit-username').val(),
                                email: $(this).parent().parent().find('.edit-email').val()
                            }
                        })
                            .then((res) => {
                                if (res.status === 200) {
                                    alert(res.message)
                                    window.location.href = "/"
                                }
                            })
                            .catch((err) => {
                                console.log(err);
                                alert(err.responseJSON.message)
                            })
                    })
                    $('.canceluser').click(function () {
                        $(this).addClass('d-none')
                        $(this).parent().find('.deleteuser').removeClass('d-none')
                        $(this).parent().find('.edituser').removeClass('d-none')
                        $(this).parent().find('.saveuser').addClass('d-none')
                        $(this).parent().parent().find('p').find('span').removeClass('d-none')
                        $(this).parent().parent().find('p').find('input').addClass('d-none')
                        $(this).parent().parent().find('.btn-password').addClass('d-none')

                    })
                }
            })
            .catch((err) => {
                alert(err)
            });
    }
    const prePage = function () {
        curentPage--;
        if(curentPage < 1){
            return getPage(1)
        }
        $.ajax({
            url: '/user?page=' + curentPage,
            method: "GET"
        })
        .then((res) => {
                if (res.status === 200) {
                    $("#users").html("");
                    for (let i = 0; i < res.data.length; i++) {
                        let element = res.data[i]
                        template = `
                    <div class="user"> 
                        <h3>User ${[i]} </h3>
                        <p>
                            Username: <span>${element.username}</span>
                            <input class="edit-username d-none" value="${element.username}"></input>
                        </p>
                        <hr>
                        <p>
                            Password: <span>********</span>
                            <input class="edit-password d-none"></input>
                            <div class="btn-password d-none">
                                <i style="font-size: 15px; margin-right: 5px">Update password</i>
                                <button class="update-password" data-id=${element._id}>OK</button>
                                <button class="cancel-password">Cancel</button>
                            </div>
                        </p>
                        <hr>
                        <p>
                            Email: <span>${element.email}</span>
                            <input class="edit-email d-none" value="${element.email}"></input>
                        </p>
                        <hr>
                        <div class="select">
                            <button class="saveuser d-none button" data-id=${element._id}>Save</button>
                            <button class="canceluser d-none button">Cancel</button>
                            <button class="edituser button">Edit</button>
                            
                            <!-- Button trigger modal -->
                            <button type="button" class="button deleteuser" data-id=${element._id} data-toggle="modal" data-target="#exampleModal">
                            Delete 
                            </button>
                        </div>
                    </div>
                    `
                        $("#users").append(template);
                    }
                    $('.edituser').click(function () {
                        $(this).addClass('d-none')
                        $(this).parent().parent().find('.btn-password').removeClass('d-none')
                        $(this).parent().find('.deleteuser').addClass('d-none')
                        $(this).parent().find('.canceluser').removeClass('d-none')
                        $(this).parent().find('.saveuser').removeClass('d-none')
                        $(this).parent().parent().find('p').find('span').addClass('d-none')
                        $(this).parent().parent().find('p').find('input').removeClass('d-none')
                    })
                    $(".deleteuser").click(function () {
                        var id = $(this).attr('data-id')
                        $('.delete').click(function () {
                            $.ajax({
                                url: "/user/" + id,
                                method: "DELETE",
                                data: {
                                    id: id
                                }
                            })
                                .then((res) => {
                                    window.location.href = "/"
                                })
                                .catch((err) => {
                                    alert(err.message)
                                })
                        })
                    })
                    $(".update-password").click(function(){
                        console.log("vbn");
                        $.ajax({
                            url: '/user/password/' + $(this).attr('data-id'),
                            method: "PUT",
                            data: {
                                _id: $(this).attr('data-id'),
                                password: $(this).parent().parent().find('.edit-password').val()
                            }
                        })
                        .then((data) => {
                            alert("Cập nhật password thành công")
                        })
                        .catch((err) => {
                            alert(err.responseJSON.message)
                        })
                    })
                    $(".cancel-password").click(function(){
                        html = $(this).parent().parent().find('.edit-password').val("")

                    })
                    $('.saveuser').click(function () {
                        $.ajax({
                            url: '/user/' + $(this).attr('data-id'),
                            method: "PUT",
                            data: {
                                username: $(this).parent().parent().find('.edit-username').val(),
                                email: $(this).parent().parent().find('.edit-email').val()
                            }
                        })
                            .then((res) => {
                                if (res.status === 200) {
                                    alert(res.message)
                                    window.location.href = "/"
                                }
                            })
                            .catch((err) => {
                                console.log(err);
                                alert(err.responseJSON.message)
                            })
                    })
                    $('.canceluser').click(function () {
                        $(this).addClass('d-none')
                        $(this).parent().find('.deleteuser').removeClass('d-none')
                        $(this).parent().find('.edituser').removeClass('d-none')
                        $(this).parent().find('.saveuser').addClass('d-none')
                        $(this).parent().parent().find('p').find('span').removeClass('d-none')
                        $(this).parent().parent().find('p').find('input').addClass('d-none')
                        $(this).parent().parent().find('.btn-password').addClass('d-none')

                    })
                }
            })
            .catch((err) => {
                alert(err)
            });
    }
    var pageNumer = function () {
        $.ajax({
            url: "/user",
            method: "GET"
        })
            .then((res) => {
                for (let i = 1; i < res.total + 1; i++) {
                    let li = `
                    <li class="page-item"><a class="page-link" onclick="getPage(${i})" href="?page=${i}">${i}</a></li>
                    `
                    $("#page-number").append(li)
                }
            })
    }
    pageNumer()
    $('#addnew').click(function () {
        $.ajax({
            url: '/user',
            method: "GET"
        })
            .then(() => {
                window.location.href = "/addnew"
            })
    })
    $('#logout').click(function () {
        $.ajax({
            url: '/user/logout',
            method: "POST"
        })
            .then((res) => {
                setCookie("token", res.token, -7)
                window.location.href = "/home"
            })
    })
    function setCookie(cname, cvalue, exdays) {
        var d = new Date();
        d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
        var expires = "expires=" + d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }
    function getCookie(cname) {
        var name = cname + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }
</script>
  
</html>